/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --b1: #38ADA9;
  --b2: #079992;
  --g1: #b8e994;
  --g2: #78e08f;
  --y1: #fad390;
  --y2: #f6b93b;
  --r1: #eb2f06;
  --r2: #b71540;
}

body {
}

h1 {
}

* {
}